
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label for="captions" id="captions_label" class="control-label"><%=label.get('captions_label','Captions')%></label>
<div class="input-group"><textarea id="captions" name="captions" class="form-control input-md irequired alert-input" rows="15"><%=data.dataset?.captions%></textarea><div class="input-group-required"><label class="required">*</label></div></div><div id="captions_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('captions_alert','You can not leave this empty or invalid settings')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
